<a href="https://colab.research.google.com/github/sripragnabitra/supervised-machlearning/blob/main/LogReg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Choose any dataset of your choice, apply a suitable algorithm(Registration/ Classification) and create a model.

In [ ]:
#1.TAKE DATA AND CREATE DATAFAME
#obtained dataset from data.world data resource website
import pandas as pd
df = pd.read_csv('https://query.data.world/s/2jjneyocez4aebw6677epdkhkb4e2h', sep=';')
df

      Chord  2nd  3rd   4th   5th   6th
0        Am   45   52  57.0  60.0  64.0
1      Amaj   45   52  57.0  61.0  64.0
2        A6   52   57  61.0  66.0   NaN
3        A7   45   52  55.0  61.0  64.0
4      A7b5   45   55  61.0  63.0   NaN
..      ...  ...  ...   ...   ...   ...
408  G#maj7   51   56  60.0  67.0   NaN
409  G#maj9   44   48  55.0  58.0  63.0
410  G#sus2   46   51  56.0   NaN   NaN
411  G#sus4   51   56  61.0  68.0   NaN
412    G7#5   43   47  50.0  55.0  59.0

[413 rows x 6 columns]

In [ ]:
#2.PRE-PROCESSING
df=df.rename({'2nd':'midi_note_1','3rd':'midi_note_2','4th':'midi_note_3','5th':'midi_note_4','6th':'midi_note_5'}, axis='columns')
df = df.dropna() #removing the rows which have NAN values
df

      Chord  midi_note_1  midi_note_2  midi_note_3  midi_note_4  midi_note_5
0        Am           45           52         57.0         60.0         64.0
1      Amaj           45           52         57.0         61.0         64.0
3        A7           45           52         55.0         61.0         64.0
5      A7b9           45           52         58.0         61.0         67.0
6        A9           45           52         59.0         61.0         67.0
..      ...          ...          ...          ...          ...          ...
405    G#m9           42           46         51.0         56.0         59.0
406   G#m11           44           47         54.0         59.0         61.0
407   G#maj           44           51         56.0         60.0         63.0
409  G#maj9           44           48         55.0         58.0         63.0
412    G7#5           43           47         50.0         55.0         59.0

[230 rows x 6 columns]

In [ ]:
df.shape

(230, 6)

In [ ]:
#3.DATA VISUALISATION

In [ ]:
#4.DIVIDE DATA INTO INPUT AND OUTPUT
x=df.iloc[:,1:].values
x

array([[45., 52., 57., 60., 64.],
       [45., 52., 57., 61., 64.],
       [45., 52., 55., 61., 64.],
       ...,
       [44., 51., 56., 60., 63.],
       [44., 48., 55., 58., 63.],
       [43., 47., 50., 55., 59.]])

In [ ]:
y=df.iloc[:,0].values
y

array(['Am', 'Amaj', 'A7', 'A7b9', 'A9', 'A11', 'A13', 'A69', 'Aadd9',
       'Aaug', 'Ab6', 'Ab9', 'Ab11', 'Ab13', 'Ab69', 'Abaug', 'Abdim7',
       'Abm', 'Abm9', 'Abm11', 'Abmaj9', 'Am6', 'Am7', 'Am9', 'Am11',
       'Amaj7', 'Amaj9', 'Asus2', 'Asus4', 'A#', 'A#6', 'A7#5', 'A#9',
       'A#11', 'A#13', 'A#69', 'A#add9', 'A#aug', 'A#m', 'A#m7', 'A#m11',
       'A#maj', 'A#maj9', 'A#sus2', 'Bm', 'Bmaj', 'B7', 'B7b9', 'B9',
       'B13', 'B69', 'Badd9', 'B7#5', 'Bb9', 'Bb11', 'Bb13', 'Bb69',
       'Bbadd9', 'Bbaug', 'Bbdim7', 'Bbm', 'Bbm7', 'Bbm11', 'Bbmaj',
       'Bbmaj9', 'Bm7', 'Bm7b5', 'Bm9', 'Bm11', 'Bmaj9', 'Cm', 'Cmaj',
       'C6', 'C7', 'C7b9', 'C9', 'C11', 'C13', 'C69', 'Cadd9', 'Cm7',
       'Cm9', 'Cmaj7', 'Cmaj9', 'C7#5', 'C#7b9', 'C#9', 'C#11', 'C#13',
       'C#69', 'C#add9', 'C#m6', 'C#m7b5', 'C#m9', 'C#m11', 'C#maj7',
       'C#maj9', 'D6', 'D7b9', 'D9', 'D11', 'D13', 'D69', 'Db6', 'Db7b9',
       'Db9', 'Db11', 'Db13', 'Db69', 'Dbadd9', 'Dbaug', 'Dbdim7', 'Dbm6',
       'Dbm7b5', 'Dbm9', 'Dbm11', 'Dbmaj7', 'Dbmaj9', 'Ddim7', 'Dm6',
       'Dm11', 'Dmaj9', 'Dsus2', 'D#6', 'D#9', 'D#11', 'D#13', 'D#add9',
       'D#aug', 'D#m9', 'D#m11', 'D#sus2', 'Em', 'Emaj', 'E7', 'E7b5',
       'E7b9', 'E9', 'E11', 'E13', 'E69', 'Eadd9', 'Eb6', 'E7#5', 'Eb9',
       'Eb11', 'Eb13', 'Ebadd9', 'Ebaug', 'Ebdim', 'Ebm9', 'Ebm11',
       'Ebsus2', 'Edim7', 'Em6', 'Em7', 'Em9', 'Em11', 'Emaj7', 'Emaj9',
       'Esus4', 'Fm', 'Fmaj', 'F7', 'F9', 'F11', 'F13', 'F69', 'Fadd9',
       'Fdim7', 'Fm7', 'Fmaj7', 'Fmaj9', 'Fsus2', 'F#', 'F#7b9', 'F#9',
       'F#11', 'F#13', 'F#69', 'F#add9', 'F#aug', 'F#m', 'F#m9', 'F#m11',
       'F#maj', 'F7#5', 'Gm', 'Gmaj', 'G7', 'G7b9', 'G9', 'G11', 'G13',
       'G69', 'Gadd9', 'Gb7b9', 'Gb9', 'Gb11', 'Gb13', 'Gb69', 'Gbadd9',
       'Gbaug', 'Gbm', 'Gbm6', 'Gbm7b5', 'Gbm9', 'Gbm11', 'Gbmaj',
       'Gdim7', 'G6', 'Gm7', 'Gm9', 'Gm11', 'Gmaj9', 'Gsus2', 'Gsus4',
       'G#', 'G#9', 'G#11', 'G#13', 'G#69', 'G#aug', 'G#dim', 'G#m',
       'G#m9', 'G#m11', 'G#maj', 'G#maj9', 'G7#5'], dtype=object)

In [ ]:
#5.TRAIN AND TEST VARIABLES
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, random_state = 0)

In [ ]:
#6.SCALING AND NORMALISATION

In [ ]:
#7.RUN THE REGRESSOR
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#8.FIT THE MODEL
model.fit(x_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#9.PREDICT THE OUTPUT
y_pred=model.predict(x_test)
y_pred

array(['Gb13', 'Gadd9', 'D#sus2', 'Em11', 'Fadd9', 'Dmaj9', 'Asus4', 'E9',
       'D#13', 'Gb13', 'D11', 'E9', 'B13', 'C#9', 'Bbadd9', 'Gsus2',
       'C#13', 'Dm11', 'C#9', 'A13', 'Bb11', 'D69', 'Gsus4', 'C13',
       'C#add9', 'Bmaj', 'E9', 'Bbaug', 'F#11', 'Am9', 'Gadd9', 'Em11',
       'Cadd9', 'A#13', 'Cadd9', 'Am11', 'Fadd9', 'Bbaug', 'D#13',
       'Amaj9', 'F#m9', 'D69', 'D#13', 'Am9', 'Am9', 'Fadd9', 'D11',
       'Dbmaj7', 'Am9', 'C6', 'D11', 'D#sus2', 'F#7b9', 'E9', 'Dbm6',
       'Bbm11', 'Bbm', 'Fadd9'], dtype=object)

In [ ]:
y_test

array(['E13', 'Gbadd9', 'Dsus2', 'F7#5', 'Eadd9', 'C#maj9', 'G#', 'C9',
       'G#69', 'Fm7', 'Eb11', 'Dbdim7', 'Bbmaj9', 'Aadd9', 'D#m9', 'E11',
       'D13', 'A11', 'Bm', 'Emaj9', 'F#13', 'Db69', 'Gbmaj', 'Gm9',
       'Dbadd9', 'Bbmaj', 'Edim7', 'A#aug', 'Ab11', 'E7#5', 'F#add9',
       'E7b9', 'G7b9', 'Bb13', 'C#m7b5', 'Abm9', 'Abaug', 'F#aug', 'A69',
       'D6', 'Gbm9', 'C#69', 'Eb13', 'E7', 'G6', 'Gbm', 'A#11', 'Cmaj',
       'Em6', 'Gbm7b5', 'Db11', 'Ebdim', 'Gb7b9', 'C11', 'Abdim7', 'E7b5',
       'Dbaug', 'Fm'], dtype=object)